<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Trips</title>
  <link rel="stylesheet" href="/css/master.css">
  <style>
  body{
    font-family: arial;
  }
  table, tr, td{
    border: 1px solid #000;
    border-collapse: collapse;
    padding: 10px 15px 10px 15px;
  }
  thead{
    font-weight: bold;
  }
  </style>
</head>

<body>
  <h1>TRIPS</h1>
  <h2>Create New Trip</h2>
    <form action="/createTrip" method="post">
      <input type="text" name="title" placeholder="Title" required>
      <br>
      <br>
      <input type="text" name="description" placeholder="Description" required>
      <br>
      <br>
      <select name="flight">
        <% for(let j=0; j<flight.length; j++){ %>
        <option value="<%= flight[j].airline_id %>">
          <%= flight[j].start %> -->
          <%= flight[j].destination %>
          </option>
        <% } %>
      </select>
      <br>
      <br>
      <input type="submit" value="Create">
    </form>
    <br>
  <h2>Upcoming Trips</h2>
  <br>
    <table>
      <thead>
        <tr>
          <td>TITLE</td>
          <td>DESCRIPTION</td>
          <td>FROM</td>
          <td>TO</td>
          <td>Airline</td>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i<trips.length; i++){ %>
          <% if(trips[i].user_id === user){ %>
            <% for(let k=0; k<flight.length; k++){ %>
              <% if(trips[i].flight_id === flight[k].id){ %>
                <% for(let m=0; m<airline.length; m++){ %>
                  <% if(flight[k].airline_id === airline[m].id){ %>
                    <tr>
                      <td><%= trips[i].title %></td>
                      <td><%= trips[i].description %></td>
                      <td><%= flight[k].start %></td>
                      <td><%= flight[k].destination %></td>
                      <td><%= airline[m].name %></td>
                    </tr>
                  <% } %>
                <% } %>
              <% } %>
            <% } %>
          <% } %>
        <% } %>
      </tbody>
    </table>

</body>
</html>
