<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Trips</title>
  <link rel="stylesheet" href="/css/master.css">
</head>

<body>
  <h1>TRIPS</h1>
  <h2>Create New Trip</h2>
    <form action="/createTrip" method="post">
      <input type="text" name="title" placeholder="Title">
      <br>
      <br>
      <input type="text" name="description" placeholder="Description">
      <br>
      <br>
      <select name="flight">
        <% for(let j=0; j<flightList.length; j++){ %>
        <option value="<%= flightList[j].airline_id %>">Start: <%= flightList[j].start %>,  Destination: <%= flightList[j].destination %>
          </option>
        <% } %>
      </select>
      <br>
      <br>
      <input type="submit" value="Create">
    </form>
    <br>
  <h2>Upcoming Trips</h2>
  <br>
    <table>
      <thead>
        <tr>
          <td>TITLE</td>
          <td>DESCRIPTION</td>
          <td>FLIGHT ID</td>
        </tr>
      </thead>
      <tbody>
        <% for(let i=0; i<tripsList.length; i++){ %>
          <tr>
            <td><%= tripsList[i].title %></td>
            <td><%= tripsList[i].description %></td>
            <td><%= tripsList[i].flight_id %></td>
          </tr>
        <% } %>
      </tbody>
    </table>

</body>
</html>
